<ion-header>
  <ion-toolbar>
    <ion-title>Temperatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button color="primary" (click)="scanAndConnect()" *ngIf="!conectado">
    Conectar Arduino
  </ion-button>

  <ion-button color="danger" (click)="desconectar()" *ngIf="conectado">
    Desconectar
  </ion-button>

  <p *ngIf="temperatura !== null">Temperatura: {{ temperatura }} °C</p>
  <p *ngIf="!temperatura && conectado">Leyendo temperatura...</p>
</ion-content>
